--extra-index-url https://download.pytorch.org/whl/cu118
# --extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
diffusers[torch]==0.27
transformers
wandb
matplotlib
scipy
trimesh
plyfile
scikit-learn
scikit-image
shapely